.landing-page{
    height: 100vh;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
}
.container{
    text-align: center;
}
#services{
    height: 50vh;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
}